/*Document*/
body{
  overflow: scroll;
}

html{
  height: 100%;
}

/*Index*/

.indexBody{
  height: 100%;
}

.indexNavLinksDivWrapper{
  display: inline-block;
  background-color: black;
  height: 100%;
  margin: 0;
}

.PacManIndex{
  border: 5px solid purple;
  height: 100%;
  width: 34%;
  background-image: url(../images/PacMan\ Background.png);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  text-align: center;
  font-size: 30px;
  color: white;
}

.WebPositivityIndex{
  border: 5px solid yellow;
  margin: 0;
  height: 100%;
  font-size: 30px;
  font-family: "Times New Roman", serif;
	background: linear-gradient(-45deg, #2bf718, #ace722, #f3b224, #f3270c);
	animation: gradient ease 15s infinite;
  -webkit-animation: gradient ease 15s infinite;
  -moz-animation: gradient ease 15s infinite;
  -o-animation: gradient ease 15s infinite;
  -ms-animation: gradient ease 15s infinite;
  -webkit-background-size: 400% 400%;
  -moz-background-size: 400% 400%;
  -o-background-size: 400% 400%;
  -ms-background-size: 400% 400%;
  background-size: 400% 400%;
  text-align: center;
  overflow: hidden;
  width: 33%;
  float: left ;
}

.WikiIndex{
  border: 5px solid green;
  height: 100%;
  width: 33%;
  float: left ;
  text-align: center;
  font-size: 30px;
  background-image: url(../images/wikiBackground.PNG);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
}

.TrafficIndex
{
    border: 5px solid grey;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fade-in {
  text-align: center;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.bottom{
  position: relative;
  bottom: -20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*pacMan*/
.pacManBody{
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  overflow: hidden;
}

.PacManStage{
  height: 500px;
  width: 500px;
  background-image: url(../images/PacMan\ Background.png);
  background-size:  contain;
  background-repeat: no-repeat;
  float:left;
}

.PacManDivWrapper{
  border: 5px solid black;
  height:100%;
  width: 500px;
  background-color: black;
  float: left;
}

.score{
  border: 5px solid black;
  color: white;
  font-size: x-large;
  float:left;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  background-color: #000;
}

.highScores{
  height: 100%;
  color: white;
  font-size: x-large;
  float: left;
}

.highScoreInputContainer{
  float: right;
  color: white;
}

#scoreNumber{
  font-size:xx-large;
}

.PacManImg{
  height: 5%;
  width: 5%;
  position: relative;
  visibility: hidden;
}

.GhostImg{
  height: 5%;
  width: 5%;
  position: relative;
  visibility: hidden;
}

#start{
  position: absolute;
  left: 205px;
  top: 270px;
  color: yellow;
}

.pacManButton {
  background-color: #fff000;
  border-radius: 12px;
  box-sizing: border-box;
  border: 10;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pacManButton:not(:disabled):hover,
.pacManButton:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.pacManButton:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

/*WebPositivity*/

.WebPositivityBody{
  border: 5px solid black;
  margin: 0;
  height: 100%;
  font-size: 30px;
  font-family: "Times New Roman", serif;
	background: linear-gradient(-45deg, #2bf718, #ace722, #f3b224, #f3270c);
	animation: gradient ease 15s infinite;
  -webkit-animation: gradient ease 15s infinite;
  -moz-animation: gradient ease 15s infinite;
  -o-animation: gradient ease 15s infinite;
  -ms-animation: gradient ease 15s infinite;
  -webkit-background-size: 400% 400%;
  -moz-background-size: 400% 400%;
  -o-background-size: 400% 400%;
  -ms-background-size: 400% 400%;
  background-size: 400% 400%;
  text-align: center;
  overflow: scroll;
}

.Canvas{
  background-color: white;
  margin: auto;
  width: 50vw;
  height: 50vh;
  border: 5px solid black;
  padding: 5px;
}

.chart-container{
  margin: auto;
  width: 50vw;
  height: 50vh;
  padding: 5px;
}

.submitButton {
  background-color: #cf245f;
  background-image: linear-gradient(to bottom right, red, yellow, green);
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

#Progress {
  width: 100%;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#Bar {
  width: 0%;
  height: 30px;
  background-color: green;
}

/*Wiki*/

.center{
  text-align: center;
}

#cy{
  width: 100%;
  height: 100%;
  font-size: 20;
  display: block;
  background-color: #fff000;
}

.wikiLinkBody{
  margin: 0;
  height: 100%;
}

/*Traffic*/
.Chart{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white
}
.ChartDiv{
  position: absolute;
  width: 70%;
  height:70%;
}

.TrafficBody
{
  background-color: lightgray;
}

#alignToBottom
{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: gray;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", serif;
}


/*Tabs*/

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*all*/
.Navigation{
  background-color: #000;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", serif;
}

.NavLink{
  color: white;
  margin-left: 6px;
  margin-right: 6px;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-o-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-ms-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}